@import 'scss-reset/reset';
@import "../shared/shared";
@import url('./fonts.css');

.container{
   max-width: 1440px;
   margin: auto;
   padding: 0 104px;
}


body{
   font-family: "Montserrat 500";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}