@import url("./app/fonts.css");
@import url("./app/reset.css");
@import url("./shared/shared.css");


@tailwind base;
@tailwind components;
@tailwind utilities;


p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
   cursor: pointer;
}
a {
   transition: all 0.3s;
}
 a:hover {
    color: #FF8682;
 }

body {
   font-family: "Montserrat 500";
   overflow-x: hidden;
}

.container {
   @apply max-w-[1440px] m-auto px-[104px]
}

.back::before {
   @apply content-[''] w-full absolute z-20 h-[100vw] opacity-[0.3] bg-[black]
}
